@()
@import play.api.Play

<!DOCTYPE HTML>
<html>
<head>
<title>BotRPG Online</title>
<link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/lib/bootswatch-paper/css/bootstrap.min.css" />
<base href="/" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="BotRpg">
<nav class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">BotRPG</a>
    </div>
    <div class="navbar-right">
      <div class="container-fluid" ng-show="name()">
        <p class="navbar-text">Hello, {{name()}}!</p>
        <button class="btn btn-default navbar-btn" ng-click="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
<div ng-view class="container">
</div>
@if(Play.isProd(Play.current)) {
<script src="/assets/lib/angularjs/angular.min.js"></script>
} else {
<script src="/assets/lib/angularjs/angular.js"></script>
}
<script src="/assets/lib/angularjs/angular-route.min.js"></script>
<script src="/assets/lib/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
<script src="/assets/lib/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
@if(Play.isProd(Play.current)) {
<script src="@routes.Assets.versioned("client-opt.js")"></script>
} else {
<script src="@routes.Assets.versioned("client-fastopt.js")"></script>
}
<script>BotRpg().main()</script>
</body>
</html>
