<div class="panel panel-primary">
  <div class="panel-heading">Matchmaking</div>
  <div class="panel-body">
    <button class="btn btn-primary" ng-show="!requestingGame" ng-click="requestGame()">
      Request Game
    </button>
    <button class="btn btn-danger" ng-show="requestingGame" ng-click="cancelRequestGame()">
      Cancel Matchmaking
    </button>
  </div>
  <ul class="list-group">
    <li class="list-group-item clearfix" ng-repeat="player in waiting track by player">
      {{player}}
      <button class="btn btn-primary pull-right" ng-show="name != player" ng-click="playGame(player)">Play</button>
    </li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Currently Playing</div>
  <ul class="list-group">
    <li class="list-group-item clearfix" ng-repeat="game in playing track by game">
      {{::game.player1}} vs {{::game.player2}}
      <button class="btn btn-primary pull-right" ng-click="watchGame(game.id)">
        Watch
      </button>
    </li>
  </ul>
</div>
